@use 'variaveis';

.plans {
    padding: 3vw 0;

    h2 {
        text-align: center;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin: 0;
            padding: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 40px;
        list-style: none;
        flex-wrap: wrap; // Permite que os itens quebrem linha se necessário

        @media (max-width: 768px) {
            display: block;
            margin-top: 50px;
        }

        &__item {
            text-align: center;
            padding: 40px 20px;
            flex-basis: 30%; // Define o tamanho dos itens no desktop
            max-width: 380px;
            border-radius: 8px; // Bordas arredondadas para um design mais moderno
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra leve

            @media (max-width: 768px) {
                width: 100%;
                padding:  20px;
                margin-bottom: 20px; // Espaço entre os planos no mobile
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            strong {
                display: block;
                font-size: 1.2em;
                margin-top: 10px;
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }
}

p {
    text-align: center;
}
